.d-editor-button-bar {
  display: flex;
  flex-flow: wrap;
}
.my-totop-btn {
  background-color: var(--primary-high);
  padding: 2px;
  padding-right: 5px;
  border-radius: 0.67rem;
  border: 0ch;
  position: fixed;
  bottom: 2.58rem;
  right: 2.1rem;
  z-index: 1000;
  opacity: 0.8;
}
.my-totop-btn a {
  color: white;
  /*font-size: x-large;*/
  font-weight: 1000;
}
