.d-editor-button-bar {
  display: flex;
  flex-flow: wrap;
}
.my-totop-btn {
  background-color: var(--quaternary);
  padding: 2%;
  padding-right: 2%;
  border-radius: 2em;
  border: 0ch;
  position: fixed;
  bottom: 6em;
  left: 2em;
  z-index: 888;
  opacity: 70%;
}
.my-totop-btn a {
  color: white;
  font-size: x-large;
  font-weight: 1000;
}
